<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app-6">
      <p>{{message}}</p>
      <input type="text" v-model="message" />
      <todo-item
        v-for="item in groceryList"
        v-bind:todo="item"
        v-bind:key="item.id"
      ></todo-item>
    </div>
    <script>
      Vue.component("todo-item", {
        props: ["todo"],
        template: "<li>{{todo.text}}</li>",
      });
      var app6 = new Vue({
        el: "#app-6",
        data: {
          groceryList: [
            { id: 1, text: "purchase water bottle" },
            { id: 2, text: "milk" },
            { id: 3, text: "corn flakes" },
          ],
          message: "Hello Vue!",
        },
      });
    </script>
  </body>
</html>
